.contact-form {
	width: 100%;
	max-width: 342px;
	font-size: 0;
	input, textarea {
		width: 100%;
		height: 42px;
		margin-top: 12px;
		padding: 12px 32px;
		border: 2px solid rgba(56, 71, 94, 0.5);
		border-radius: 12px;
		box-shadow: inset 0 1000px 0 $color-5; // чтобы при автозаполнении не менялся цвет
		color: $color-4;
		.theme-dark & {
			box-shadow: inset 0 1000px 0 $color-4;
			color: $color-2;
		}
		&::placeholder {
			color: inherit;
		}
		&._error {
			box-shadow: inset 0 1000px 0 0 #E5C6C8;
		}
	}
	textarea {
		resize: none;
		height: 60px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	&__button {
		margin-top: 3px;
		width: 100%;
		max-width: 500px;
		height: 48px;
		// line-height: 48px;
		// background-color: lightgreen;
		position: relative;
		// border-radius: 10px;
		overflow: hidden;
		.progress {
			position: absolute;
			top: 0;
			left: 0;
			._sending & {display: flex;}
		}
	}
	&__title {
		font-family: $font-1;
		font-weight: 700;
		font-size: 32px;
	}
	&__links {
		display: flex;
		flex-wrap: wrap;
		margin-top: 24px;
		margin-bottom: 6px;
	}
	&__link, &__link:visited {
		margin-bottom: 6px;
		display: flex;
		align-items: center;
		background-color: $color-6;
		padding: 7px 12px;
		border-radius: 17px;
		border: solid 2px transparent;
		font-weight: 500;
		font-size: 12px;
		transition: background-color $timer-theme, border-color $timer-hover;
		.theme-dark & {
			color: $color-4;
		}
		&:hover {
			border-color: $color-9;
		}
		&:first-of-type {
			margin-right: 6px;
		}
		i {
			margin-right: 4px;
			font-size: 15px;
		}
	}
}
._sending {
	position: relative;
	&:before {
		content: "";
		background-color: transparent;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
}
.form-report {
	height: 18px;
	font-size: 12px;
	margin-top: 3px;
	text-align: center;
	// margin-bottom: 10px;
	visibility: hidden;
	&.ok, &.er {visibility: visible;}
	&.ok {color: green}
	&.er {color: red}
}
@keyframes progress-animation {
	from {transform: scale(1);}
	to {transform: scale(2);}
}
.progress {
	$box-height: 20;
	$box-width: $box-height * 3 + 20;
	width: 100%;
	height: 100%;
	background-color: inherit;
	display: none;
	justify-content: center;
	align-items: center;
	&__box {
		width: $box-width+px;
		height: $box-height+px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		i {
			flex: 0 0 $box-height*0.5+px;
			height: $box-height*0.5+px;
			background-color: #555;
			border-radius: 50%;
			margin: 0 5px;
			animation: progress-animation 0.8s infinite alternate ease-in;
			&:nth-of-type(2) {animation-delay: 0.2s;}
			&:nth-of-type(3) {animation-delay: 0.4s;}
		}
	}
}