.radio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	input {
		display: none;
		&:checked + label .label-box {
			&:after {
				width: 18px;
				height: 18px;
			}
		}
	}
	label {
		display: inline-flex;
		align-items: center;
		column-gap: 5px;
	}
	.label-text {
		font-family: Arial;
		font-size: 16px;
		white-space: nowrap;
	}
	.label-box {
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 20px;
		cursor: pointer;
		&:after {
			content: "";
			width: 0;
			height: 0;
			background-color: orange;
			border-radius: 20px;
			transition: all .3s;
		}
	}
}
