@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.loadscreen {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 990;
	width: 100vw;
	height: 100vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	opacity: 0;
	visibility: hidden;
	transition: all .5s linear;
	&._locked {
		opacity: 1;
		visibility: visible;
	}
	&__content {}
	// p {
	// 	font-family: sans-serif;
	// 	font-size: 0;
	// }
	i:before {
		display: inline-block;
		font-size: 40px;
		color: #444;
		// transform: rotate(10deg);
		animation: spinner 2s infinite linear;
	}
}