.popup {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	// width: 200px;
	// height: 100px;
	// padding: 30px 15px;
	// border: solid 2px black;
	// background-color: darkolivegreen;
	display: none;
	@media (max-width: $mobile-s+px) {
		bottom: 10px;
		right: 0;
	}
	&._visible {
		display: inline-block;
	}
	&__close-btn {
		position: absolute;
		top: 40px;
		right: 40px;
		cursor: pointer;
		color: $color-4;
		transition: text-shadow $timer-hover, color $timer-theme;
		.theme-dark & {
			color: $color-2;
		}
		&:hover {
			text-shadow: 0 0 5px rgba(0,0,0,0.6);
			.theme-dark & {
				text-shadow: 0 0 5px rgba(255,255,255,0.7);
			}
		}
		@media (max-width: $mobile+px) {
			top: 24px;
			right: 24px;
		}
	}
}
