.select {
	position: relative;
	width: 182px;
	height: 32px;
	cursor: pointer;
	transition: all $timer-select;
	select {display: none;}
	&__header {
		height: 100%;
		padding: 0 10px;
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: orange;
		border: solid 2px #555;
		overflow: hidden;
		user-select: none;
		&-text {
			flex: 1 1 auto;
			white-space: nowrap;
			overflow: hidden;
		}
		&-icon {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
		}
	}
	&__header:hover, &._active &__header {
		border-color: yellow;
	}
	&__list-wrapper {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 2;
		height: 0;
		overflow: hidden;
		border: solid 2px yellow;
		transition: all $timer-select;
		visibility: hidden; // скрытие списка с толстой рамкой
		&._active {
			visibility: visible;
		}
	}
	&__list {}
	&__option {
		display: flex;
		align-items: center;
		background-color: #fff;
		height: 28px;
		padding: 0 10px;
		white-space: nowrap;
		overflow: hidden;
		transition: all $timer-hover;
		&._selected, &:hover {
			background-color: #ddd;
		}
	}
}
