 .spoiler {
	// box-sizing: content-box;
	// width: 507px;
	border: 4px solid transparent;
	border-radius: 16px;
	background-color: $color-6;
	// overflow: hidden;
	// transition: all $timer-spoiler;
	transition: border-color $timer-hover,background-color $timer-theme;
	position: relative;
	z-index: 2;
	.theme-dark & {
		background-color: $color-4;
	}
	&._visible {
		// border-color: rgba(255, 255, 255, 0.1);
		border-color: $color-10;
		.theme-dark & {
			border-color: $color-9;
		}
	}
	&__header {
		// margin: 0 12px;
		padding: 12px;
		// height: 88px;
		font-weight: 600;
		cursor: pointer;
		user-select: none;
		// transition: all $timer-spoiler;
		@media (max-width: $mobile+px) {
			padding: 6px;
		}
	}
	&__header-inner {
		padding: 0 24px;
		height: 56px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 8px;
		transition: background-color $timer-hover;
		@media (max-width: $mobile+px) {
			height: 48px;
		}
		i {
			font-size: 7px;
			transition: transform $timer-spoiler
		}
	}
	&__header:hover &__header-inner {
		background-color: rgba(255, 255, 255, 0.1);
	}
	&._visible &__header-inner i {
		transform: rotate(180deg);
	}
	&__wrapper {
		overflow: hidden;
		height: 0;
		transition: height $timer-spoiler;
	}
	&__content {
		padding: 3px 26px 30px 36px;
		font-weight: 500;
		font-size: 12px;
		line-height: 150%;
		@media (max-width: $mobile+px) {
			padding: 3px 20px 30px 30px;
		}
		p {
			padding-right: 10px;
			max-height: 538px;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				width: 4px;
			}
			&::-webkit-scrollbar-track {
				background: transparent;
				border-radius: 5px;
			}
			&::-webkit-scrollbar-thumb {
				background: $color-10;
				border-radius: 5px;
				.theme-dark & {
					border-color: $color-9;
				}
			}
			scrollbar-width: thin;
			scrollbar-color: $color-10 transparent;
			.theme-dark & {
				scrollbar-color: $color-9 transparent;
			}
			@media (max-width: $mobile+px) {
				max-height: calc(100vh - 140px);
			}
		}
	}
	&._visible &__header {
		// background-color: orange;
	}
	&._visible &__content {}
}