.page404 {
	width: 100%;
	&__header {}
	&__logo {
		margin: 15px 0;
	}
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $font-1;
		h1 {
			font-size: 60px;
			font-weight: bold;
			color: #777;
		}
		h2 {
			font-size: 25px;
			font-weight: bold;
		}
		p {
			margin-top: 20px;
			font-size: 20px;
			text-align: center;
		}
		a, a:visited {
			margin-top: 70px;
			text-decoration: underline;
			&:hover {
				color: blue;
			}
		}
	}
}