* {margin: 0; padding: 0; border: 0; box-sizing: border-box;}
html, body {width: 100%;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: inherit;}
a, a:visited {text-decoration: none; color: inherit;}
:focus, :active {outline: none;}
button, input, textarea {font-family: inherit;}
button, input[type="submit"], input[type="reset"] {cursor: pointer;}
input::-ms-clear {display: none;}
ul {list-style: none;}

.svg-sprite {
	width: 0;
	height: 0;
	overflow: hidden;
}